<script>
  import {json} from "d3-fetch";
  import {onMount} from "svelte";
  import {scaleLinear} from "d3-scale";
  import {extent} from "d3-array";

  // Functions
  function locationChange(event){
    currentData = datafile[event.currentTarget.value];
    }

  function scaleChange(event){
    if (event.currentTarget.value == "Global"){
      local = false;
      } else {
      local = true;
      }}
  
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const maximumLine = 10;
  const startingLine = 170;
  
  let data = [];
  onMount(async () => {
    data = await json("/data/hourly_heating_december.json");
  });

  let datafile = {};
  $: {data.forEach((d) => {
    if ( !(d.city in datafile)){
      datafile[d.city] = {};
      }
      if ( !(d.buildingtype in datafile[d.city])){
        datafile[d.city][d.buildingtype] = [];
        }
        datafile[d.city][d.buildingtype].push(d.total_heating_energy);
    })}
  
  let currentData = {};
  $: if (("Baltimore" in datafile) && !("FullServiceRestaurant" in currentData)){
    currentData = datafile["Baltimore"];
    }
  
  $: xScale = scaleLinear()
                .domain([0,744])
                .range([startingLine,innerWidth]);

  $: yScale = scaleLinear()
                .domain(extent(data.map((d) => d.total_heating_energy)))
                .range([maximumLine,0]);

  let local = true;
  
  let path_0 = (d, loc) => {
    if (loc == 1){
      yScale = scaleLinear().domain([0,Math.max(...d)]).range([maximumLine,0]);
      } else {
      yScale = scaleLinear().domain(extent(data.map((d) => d.total_heating_energy))).range([maximumLine,0]);
      }
      let path = "M" + startingLine + "," + yScale(0);
      let path_1 = startingLine + "," + yScale(0) + "Z";
      d.forEach((value, idx) => {
        path += " " + xScale(idx) + ',' + yScale(value);
        path_1 = xScale(idx) + ',' + (2*yScale(0)-yScale(value)) + " " + path_1;
      })
      return path + " " + path_1;
    }
  </script>
  
  <div class = "row">
    <div class = "col">
      <h6>
        Location
      </h6>
      <input type = "radio" id = "bal" name = "loc" value = "Baltimore" on:change = {locationChange} checked>
      <label for = "Baltimore">
        Baltimore
      </label>
      <br>
      <input type = "radio" id = "chi" name = "loc" value = "Chicago" on:change = {locationChange}>
      <label for = "Chicago">
        Chicago
      </label>
      <br>
      <input type = "radio" id = "losa" name = "loc" value = "Los Angeles" on:change = {locationChange}>
      <label for = "Los Angeles">
        Los Angeles
      </label>
      <br>
    </div>
    <div class = "col">
      <h6>
        Scale
      </h6>
      <input type = "radio" id = "global" name = "scal" value = "Local" on:change = {scaleChange} checked>
      <label for = "Local">
        Across Building Types
      </label>
      <br>
      <input type = "radio" id = "local" name = "scal" value = "Global" on:change = {scaleChange}>
      <label for = "Global">
        Within Building Types
      </label>
      <br>
    </div>
    <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      {#each Object.keys(currentData) as type, idx_0}
      <g transform = "translate(0, {idx_0*15})">
        <text transform = "translate({startingLine-20}, 12)" text-anchor = "end">
          {type}
        </text>
        {#if local == true}
        <path d = {path_0(currentData[type], 1)}/>
        {:else}
        <path d = {path_0(currentData[type], 0)}/>
        {/if}
      </g>
      {/each}
    </g>
  </svg>
</div>
  
<style>
  .row{
    display: block;
    float: left;
    }
  .col{
    display: block;
    margin: 0 19px 19px 0;
    }
  svg {
    border: 1px solid black;
    border-radius: 5px; 
    }
  path {
   stroke: black;
   fill: black;
   fill-opacity: 0.7;
    }
</style>
  