<script>
  import {json} from "d3-fetch";
  import {onMount} from "svelte";
  import {scaleLinear} from "d3-scale";

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const leaf_0 = 100;
  const leaf_1 = 180;
  const leaf_2 = 20;

  let datafile = {};
  let maximumVal = 0;
  let data = [];
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });

  $: {
    data.forEach((d) => {
      if ( !(d.week in datafile)){
        datafile[d.week] = {"electricity":[], "gas":[]};
      }
      datafile[d.week]["electricity"].push(d.total_electrity);
      datafile[d.week]["gas"].push(d.total_gas);
      maximumVal = Math.max(maximumVal, d.total_electrity, d.total_gas);
    })}

  $: console.log(maximumVal);

  $: xScale = scaleLinear()
              .domain([0,168])
              .range([leaf_2,leaf_1]);

  $: yScale = scaleLinear()
              .domain([0,maximumVal])
              .range([0,leaf_0]);

  // Path 1 & 2
  let path_1 = (d, right) => {
    if (right == 1){
      let path = "M" + (innerWidth/2+leaf_2*0.866) + "," + (-leaf_2/2);
      d.forEach((value, idx) => {
        path += " " + (innerWidth/2+xScale(idx)*0.866-yScale(value)/2) + "," + (-xScale(idx)/2-yScale(value)*0.866);
      })
    return path + " " + (innerWidth/2+xScale(d.length)*0.866) + "," + (-xScale(d.length)/2) + "Z";
    } else{
    let path = "M" + (innerWidth/2-leaf_2*0.866) + "," + (-leaf_2/2);
   d.forEach((value, idx) => {
      path += " " + (innerWidth/2-xScale(idx)*0.866+yScale(value)/2) + "," + (-xScale(idx)/2-yScale(value)*0.866);
    })
    return path + " " + (innerWidth/2-xScale(d.length)*0.866) + "," + (-xScale(d.length)/2) + "Z";
    }}

  let path_2 = (d, right) => {
    if (right == 1){
      let path = "M" + (innerWidth/2+leaf_2*0.866) + "," + (-leaf_2/2);
      d.forEach((value, idx) => {
        path += " " + (innerWidth/2+xScale(idx)*0.866+yScale(value)/2) + "," + (-xScale(idx)/2+yScale(value)*0.866);
      })
      return path + " " + (innerWidth/2+xScale(d.length)*0.866) + "," + (-xScale(d.length)/2) + "Z";
    } else{
      let path = "M" + (innerWidth/2-leaf_2*0.866) + "," + (-leaf_2/2);
      d.forEach((value, idx) => {
        path += " " + (innerWidth/2-xScale(idx)*0.866-yScale(value)/2) + "," + (-xScale(idx)/2+yScale(value)*0.866);
      })
      return path + " " + (innerWidth/2-xScale(d.length)*0.866) + "," + (-xScale(d.length)/2) + "Z";
    }}
</script>

<div class = "wrapper">
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <line x1 = {innerWidth/2} y1 = {innerHeight} x2 = {innerWidth/2} y2 = {leaf_0/2}/>
      {#each Object.keys(datafile) as week, idx2}
        <g transform = "translate(0, {innerHeight-leaf_0*(idx2+0.5)})">
          {#if idx2 % 2 == 0}
            <line x1 = {innerWidth/2} y1 = "0" x2 = {innerWidth/2+leaf_1*0.866} y2 = {-leaf_1/2}/>
            <path d = {path_1(datafile[week]["electricity"], 1)} stroke = "black" fill = "blue"/>
            <path d = {path_2(datafile[week]["gas"], 1)} stroke = "black" fill = "orange"/>
          {:else}  
            <line x1 = {innerWidth/2} y1 = "0" x2 = {innerWidth/2-leaf_1*0.866} y2 = {-leaf_1/2}/>
            <path d = {path_1(datafile[week]["electricity"], 0)} stroke = "black" fill = "blue"/>
            <path d = {path_2(datafile[week]["gas"], 0)} stroke = "black" fill = "orange"/>
          {/if}
        </g>
      {/each}
    </g>
  </svg>
</div>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .wrapper{
    display: block;
    float: left;
    width: 700px;
  }
  line {
    stroke: black;
  }
</style>
