<script context="module">
  export async function load({ fetch }) {
    const response = await fetch("/data/starwars.json");

    return {
      status: response.status,
      props: {
        data: response.ok && (await response.json())
      }
    };
  }
</script>

<script>
  import Network from "./_ex_1_network.svelte";

  export let data = null;
</script>

<Network {data} />
