<style>
    p {
        font-size: larger;
        font: 'Times New Roman';
        text-size-adjust: 2;
        color: steelblue;
    }
</style>
<p>I <span style="color:red">really</span> like data visualisation!</p>
