<script>
 let enabled = true
 
 function multiple (radius,x) {
     return radius*x 
 }

 let radius = '3'
 const x = '6.2832'
</script>

<p>The circumference of a circle with radius {radius} is {radius*x} </p>