<script>
  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa", "all"];

  export let year = 1800
  export let cont = "all"

  function fYear(){
    if (year >= 2014) {year=1800}
    else (year++)
  }
  let loop;
  let paused=true;

  const makeProgress=() =>{
    if (paused) {paused=false; loop=setInterval(fYear,100)}
    else{paused=true; clearInterval(loop)}
  }

  const stop=() => {year=1800; clearInterval(loop); paused=true;}
</script>

<div class="row">
  <div class="col-1">
    <button class="btn btn-primary" on:click={makeProgress}> {paused ? "start":"stop"} </button>
    <button class="btn btn-primary" on:click={stop}>reset</button>
  </div>

  <div class="col-2">
    <label>year:{year}
      <input type="range" min="1800" max="2014" bind:value={year}/>
    </label>
  </div>

  <div class="col-3">
    <select bind:value={cont}>
      {#each continents as ct}
      <option>{ct}</option>
      {/each}
    </select>
  </div>
</div>

