<script>
    let clicks = 0;
</script>

<div>
    <button class="btn btn-primary" on:click={()=>(clicks=clicks+1)}>
        {clicks} clicks
    </button>
    <button class="btn btn-danger" on:click={()=>(clicks=0)}>
        Reset counter
    </button>
</div>
