<script>
import { select_multiple_value } from "svelte/internal";


  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array6.4
  const values = [2, 4, 6, 7, 9];
 
  // Module
  import {scaleLinear, scaleLog} from 'd3-scale';
  const scale = scaleLog().domain([1,10]).range([1,innerWidth]);
  const x_axis = axisBottom(scale);
  import {axisBottom} from 'd3-axis';
  import {select, selectAll} from 'd3-selection';
  import {call} from 'd3-selection';
  
  // Function
  function xAxis(x){x_axis(select(x))};
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
    <circle cx={scale(value)} cy=45 r=10 />
    {/each}
  </g>
  <g use:xAxis={'g'} 
    transform='translate({margin.top},{innerHeight})'>
  </g>
  <text transform='translate({innerWidth/2},{innerHeight+25})'>
  x-axis</text>
</svg>
