<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

import { index } from 'd3-array';
  // Module
  import {scaleLinear,scaleOrdinal} from 'd3-scale';
  const x_values=scaleLinear().domain([1,10]).range([0,innerWidth+margin.left]);
  const y_values=scaleLinear().domain([1,5]).range([0,innerHeight]);
  const scale=scaleOrdinal().domain(['cat1','cat2','cat3']).range(schemeDark2);
  import {schemeDark2} from 'd3-scale-chromatic';
import { each } from 'svelte/internal';
  const nr=[0,1,2,3,4]
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
  {#each nr as index}
  <circle cx={x_values(values[index].x)} cy={innerHeight/2-y_values(values[index].y)} r=5 fill={scale(values[index].category)}/>
  <line x1={x_values(values[index].x)} x2={x_values(values[index].x)} y1={innerHeight} y2={innerHeight/2-y_values(values[index].y)+5}/>
  <text class=valueLabel x={x_values(values[index].x)} y={innerHeight/2-y_values(values[index].y)-10}>
      {(values[index].y)}</text>
  {/each}
      line x1={margin.left} x2={innerWidth} y1={innerHeight} y2={innerHeight}/>
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
  line{stroke: black;}
</style>
