<script>
import { scaleOrdinal,scaleLinear } from "d3-scale";
import {scaleband} from 'd3-scale';
import {axisLeft, axisBottom} from 'd3-axis';
import {select} from 'd3-selection';
import { InternMap } from "d3-array";


  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  // Module
  const nr=[0,1,2,3,4,5]
  const x_values=scaleLinear().domain([-1,data.length]).range([0,innerWidth]);
  const y_values=scaleLinear().domain([0,3]).range([innerHeight,0]);
  const x_axis=axisBottom(x_values).ticks(data.length).tickFormat(function(d,i){return data[d]?.service});
  const y_axis=axisLeft(y_values).ticks();

  let gxAxis,gyAxis;
  $:{select(gxAxis).call(x_axis)
    select(gyAxis).call(y_axis)};

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <g transform='rotate(-90)' font-size=12 text-anchor=end>
    <text x=-110 y=-5>
      Viewers per Million
    </text>
    </g>
    {#each data as Item,index}
    <rect x='{x_values(index)}' y='{y_values(Item.viewers)}' width={innerWidth/data.length-30} height='{height-y_values(Item.viewers)-margin.top-margin.bottom}'></rect>
    {/each}
  </g>
  <g bind:this={gxAxis} transform={'translate(${(innerWidth/data.length)},${height-margin.bottom})'}></g>
  <g bind:this={gyAxis} transform={'translate(${(innerWidth/data.length)},${margin.top})'}></g>
</svg>
